services:
  backend:
    build: 
      context: .
      dockerfile: docker/backend/Dockerfile
    image: ft_transcendence_backend
    ports:
      - "3000:3000"
    restart: always
    volumes:
      - ./backend:/app
      - /app/node_modules
